<!DOCTYPE html>
<html lang="es" data-ng-app="votauyApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="VotaUY - Plan circuital 2014">
    <meta name="google-site-verification" content="b3cdNfvBT14lZ0WWbCzwfIUEBxZUSFApuIodx532FrY" />
    <meta name="author" content="zweckdev">

    <title>VotaUY</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- make ng-cloak work before Angular is loaded -->
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-56000516-1', 'auto');
        ga('send', 'pageview');
    </script>
    
  </head>

  <body data-ng-controller="votauyController">

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="">VotaUY</a>
        </div>
      </div>
    </div>

    <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <h1>Bienvenido!</h1>
            <p class="text-justify">
                VotaUY tiene como misión la creación de un sitio para realizar consultas sobre el plan circuital de las elecciones nacionales de Octubre del 2014, alternativo al oficial. La idea surgió en las elecciones pasadas al observar que el sitio oficial quedó fuera de línea debido a la alta demanda. VotaUY está construido en base a tecnologías de la información diseñadas para soportar un gran número de consultas simultáneas.
            </p>

            <h2>¿Donde voto?</h2>
            <p>
              Complete los campos con la serie y el número de su credencial civica para obtener el circuito correspondiente.
            </p>
          </div>
        </div>

        <div class="row show-grid">
          <div class="col-md-4">
            <div data-ng-cloak data-ng-repeat="msg in errors" class="alert alert-danger" role="alert"><strong>Error: </strong>{{ msg }}</div>

            <form role="form">
              <div class="form-group">
                <label for="id-serie">Serie</label>
                <input type="text" data-ng-model="serie" class="form-control" maxlength="3" pattern="[A-Za-z]{3}" id="id-serie" placeholder="Ejemplo: AZA">
              </div>
              <div class="form-group">
                <label for="id-numero">Número</label>
                <input type="number" data-ng-model="numero" class="form-control" min="1" id="id-numero" placeholder="Ejemplo: 1234">
              </div>
              <button data-ng-click="buscar()" data-ng-disabled="!data.length || !numero" class="btn btn-success">Buscar</button>
            </form>
          </div>

          <div class="col-md-8" data-ng-cloak>
            <div data-ng-show="result">
              <h3>Resultados</h3>
              <table class="table table-bordered">
                <tr data-ng-repeat="(key, val) in result|orderBy:key">
                  <th>{{ key }}:</th>
                  <td>{{ val }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </div> <!-- /container -->
    </div><!-- /ww -->
    
    <div class="container pt">

	    <div class="row mt centered">	
		    <div class="col-lg-4">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Rectangulo -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:300px;height:250px"
				     data-ad-client="ca-pub-4993225673993338"
				     data-ad-slot="2535213803"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
		    </div>
		    <div class="col-lg-4">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Rectangulo -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:300px;height:250px"
				     data-ad-client="ca-pub-4993225673993338"
				     data-ad-slot="2535213803"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
		    </div>
		    <div class="col-lg-4">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Rectangulo -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:300px;height:250px"
				     data-ad-client="ca-pub-4993225673993338"
				     data-ad-slot="2535213803"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
		    </div>
	    </div><!-- /row -->

        <div class="row">
          <div class="col-md-12">
            <h2>Información relevante</h2>

            <h3>Domingo 26/10/2014</h3>
            <p class="text-justify">
              Se elegirá al Presidente de la República, al Vicepresidente de la República, a la totalidad de integrantes del Poder Legislativo (30 Senadores, y 99 Representantes Nacionales o Diputados) titulares y  suplentes, y a los integrantes de las 19 Juntas Electorales compuestas por cinco miembros cada una.
            </p>
            
            <h3>Domingo 30/11/2014</h3>
            <p class="text-justify">
              En el artículo 151° de la Constitución de la República se indica que el "Presidente y el Vicepresidente de la República serán elegidos conjunta y directamente por el Cuerpo Electoral por mayoría absoluta de votantes". Y más adelante agrega que "Si en la fecha indicada…..ninguna de las candidaturas obtuviese la mayoría exigida, se celebrará el último domingo del mes de noviembre del mismo año, una segunda elección entre las dos candidaturas más votadas".
            </p>
            
            <p class="text-justify">
              A su vez la Ley N° 17.063, de 24 de diciembre de 1998, que dictó normas relativas a las elecciones internas de los partidos políticos, precisó en su artículo 2° que "Si fuera necesaria la realización de una segunda vuelta para la elección de la fórmula presidencial resultará electa la fórmula que obtenga mayor cantidad de votos, aunque no alcanzare la mayoría absoluta…."
            </p>
            
          </div>
        </div>
    </div><!-- container -->


    <!-- +++++ Footer Section +++++ -->

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h4>VotaUY</h4>
            <p>
              2014 VotaUY, Uruguay.
            </p>
          </div><!-- /col-lg-4 -->


          <div class="col-md-9">
            <h4>Advertencia</h4>
            <p>Debido a que eventualmente se producen cambios de locales por fuerza mayor, se recomienda confirmar nuevamente el circuito correspondiente antes de la fecha de la elección en la web oficial de la corte electoral. VotaUY no se hace responsable por la información brindada.</p>
          </div><!-- /col-lg-4 -->

        </div>

      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <script>
      var votauyApp = angular.module('votauyApp', []);

      votauyApp.controller('votauyController', function($scope, $http) {
        $scope.data = [];
        $scope.errors = [];

        $scope.$watch('serie', function() {
          if ($scope.serie && /[A-Za-z]{3}/.test($scope.serie)) {
            var jsonUrl = 'data/' + $scope.serie.toUpperCase() + '.json';
            $scope.data = [];
            $scope.result = null;
            $scope.errors = [];

            $http.get(jsonUrl).success(function(data) {
              $scope.data = data;
            }).error(function(data, status, headers, config) {
              $scope.errors.push("No se encontró la serie.");
            });
          };
        });

        $scope.buscar = function() {
          $scope.result = null;
          $scope.errors = [];

          var numero = parseInt($scope.numero);
          for(var i = 0; i < $scope.data.length; i++) {
            var desde = parseInt($scope.data[i]["Desde"]);
            var hasta = parseInt($scope.data[i]["Hasta"]);

            if (numero >= desde && numero <= hasta){
              $scope.result = $scope.data[i];
              break;
            }
          }

          if (!$scope.result) {
            $scope.errors.push("No se encuentra el número en la base de datos!");
          }
        }
      });
    </script>

  </body>
</html>
